<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/vue/css/iview.css">
    <link rel="stylesheet" href="../js/slide/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/vue/iview.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/slide/swiper.js"></script>
    <script src="../js/script.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<section id="app">
    <header class="header" >
        <div class="container">
            <a href="#">
                <div class="layout-logo"></div>
                <div class="lf">吉凯基因分析平台</div>
            </a>
            <Dropdown class="lf ml-50">
                <a href="javascript:void (0)">
                    <span> 更多平台</span>
                    <Icon type="arrow-down-b"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <Dropdown-Item>新增和启动</Dropdown-Item>
                    <Dropdown-Item>活跃分析</Dropdown-Item>
                    <Dropdown-Item>时段分析</Dropdown-Item>
                    <Dropdown-Item>更多平台四</Dropdown-Item>
                </DropdownMenu>
            </Dropdown>
            <div class="search ml-50 lf">
                <input class="search-input" type="text" placeholder="搜索应用">
                <button class="search-btn"></button>
            </div>
            <div class="rg">
                <!--登录之前-->
                <!--<div class="lf"><a href="#">关于平台</a></div>-->
                <div class="lf ml-50"><a href="#">帮助中心</a></div>
                <div class="lf ml-50">
                    <Dropdown trigger="click">
                        <div href="#" class="badge">
                            <div class="badge-count">99+</div>
                        </div>
                        <Dropdown-Menu slot="list">
                            <div class="news">
                                <div class="news-header">
                                    <a class="rg" href="#">全部已读</a>
                                    <i class="icon"></i>
                                    <span>未读消息(36条)</span>
                                </div>
                                <div class="news-content">
                                    <ul class="list">
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="new-footer">
                                    <a href="#">查看全部>></a>
                                </div>
                            </div>
                        </Dropdown-Menu>
                    </Dropdown>
                </div>
                <div class="lf ml-20">
                    <Dropdown>
                        <a href="javascript:void(0)">
                            <img class="img-circle head" src="../images/head.png" style="width: 40px;height: 40px">
                            <span class=" name text-overflow">ExoxonsvyExoxonsvyExoxonsvy...</span>
                            <Icon type="arrow-down-b"></Icon>
                        </a>
                        <DropdownMenu slot="list">
                            <Dropdown-Item>个人信息</Dropdown-Item>
                            <Dropdown-Item>安全设置</Dropdown-Item>
                            <Dropdown-Item>第三方账号</Dropdown-Item>
                            <Dropdown-Item>退出</Dropdown-Item>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="layout mt-10" :class="{'layout-hide-text': spanLeft < 4}">
                <Row>
                    <i-Col :span="spanLeft" class="layout-menu-left text-c">
                        <div class="layout-logo-left">
                            <button class="btn btn-text"  @click="toggleClick" >
                                <Icon type="navicon" size="32"></Icon>
                            </button>
                        </div>
                        <i-Menu active-name="1" theme="dark" width="auto">
                            <Menu-Item name="1">
                                <i class="i-13"></i>
                                <span class="layout-text">工作面板</span>
                            </Menu-Item>
                            <Menu-Item name="2">
                                <i class="i-14"></i>
                                <span class="layout-text">应用市场</span>
                            </Menu-Item>
                            <Menu-Item name="3">
                                <i class="i-15"></i>
                                <span class="layout-text">我的应用</span>
                            </Menu-Item>
                            <Menu-Item name="4">
                                <i class="i-16"></i>
                                <span class="layout-text">我的项目</span>
                            </Menu-Item>
                            <Menu-Item name="5">
                                <i class="i-17"></i>
                                <span class="layout-text">我的文件</span>
                            </Menu-Item>
                            <Menu-Item name="6">
                                <i class="i-18"></i>
                                <span class="layout-text">我的账户</span>
                            </Menu-Item>
                            <Menu-Item name="7">
                                <i class="i-19"></i>
                                <span class="layout-text">好友列表</span>
                            </Menu-Item>
                            <Menu-Item name="8">
                                <i class="i-20"></i>
                                <span class="layout-text">使用帮助</span>
                            </Menu-Item>
                        </i-Menu>
                    </i-Col>
                    <i-Col :span="spanRight" class="layout-right">
                        <div class="layout-content">
                            <div class="panel ">
                                <div class="panel-body">
                                    <Steps :current="1" class="mt-40 ml-50">
                                        <Step title="基本信息" content="填写应用的基本信息"></Step>
                                        <Step title="应用配置" content="上传程序包，并配置参数"></Step>
                                        <Step title="使用说明" content="撰写使用说明，并提示示例文件及参数"></Step>
                                        <Step title="提交审核" content="提交平台进行测试及审核"></Step>
                                    </Steps>
                                    <div class="mt-20"></div>
                                </div>
                            </div>
                            <div class="panel mt-10 ">
                                <div class="panel-heading">
                                    <i class="icon i-28"></i>应用上传
                                </div>
                                <div class="panel-body">
                                    <i-Form  :label-width="100" style="width: 500px">
                                        <Form-Item label="程序类型">
                                            <Radio-Group v-model="formItem.radio">
                                                <Radio label="R程序"></Radio>
                                                <Radio label="Perl程序"></Radio>
                                            </Radio-Group>
                                        </Form-Item>
                                        <Form-Item label="上传程序包">
                                            <input type="file">
                                        </Form-Item>
                                        <Form-Item label="依赖程序包">
                                            <input type="file">
                                        </Form-Item>
                                        <Form-Item label="环境版本">
                                            <i-Select>
                                                <i-Option value="linux" >linux</i-Option>
                                            </i-Select>
                                        </Form-Item>
                                        <Form-Item label="备注">
                                            <i-Input  type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请描述用于程序运行的环境或特殊要求，供后台管理员进行配置及准备。"></i-Input>
                                        </Form-Item>
                                    </i-Form>
                                </div>
                            </div>
                            <div class="panel mt-10 ">
                                <div class="panel-heading">
                                    <i class="icon i-29"></i>参数配置
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>参数名称</th>
                                                    <th>参数值</th>
                                                    <th>类型</th>
                                                    <th>对应选项</th>
                                                    <th>是否必填</th>
                                                    <th>参数说明</th>
                                                    <th style="width: 100px" class="text-c">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item,index) in options">
                                                    <td>
                                                        <i-Input v-model="item.name"   placeholder="请输入" ></i-Input>
                                                    </td>
                                                    <td>
                                                        <i-Input v-model="item.value"   placeholder="请输入"></i-Input>
                                                    </td>
                                                    <td>
                                                        <i-Select v-model="item.type">
                                                            <i-Option value="0">文本框</i-Option>
                                                            <i-Option value="1">整数输入</i-Option>
                                                            <i-Option value="2">小数输入</i-Option>
                                                            <i-Option value="3">选项</i-Option>
                                                            <i-Option value="4">二级选项</i-Option>
                                                            <i-Option value="5">上传单个文件</i-Option>
                                                            <i-Option value="6">上传多个文件</i-Option>
                                                            <i-Option value="7">色彩选择</i-Option>
                                                        </i-Select>
                                                    </td>
                                                    <td>
                                                        <button v-show="item.type==3" class="btn btn-text col-main" type="button" @click="show_option(index,1)">选项详情</button>
                                                        <button v-show="item.type==4" class="btn btn-text col-main" type="button" @click="show_option(index,2)">选项详情</button>
                                                        <div v-show="item.type!=3&&item.type!=4">--</div>
                                                    </td>
                                                    <td>
                                                        <i-Select v-model="item.required" >
                                                            <i-Option value="1">是</i-Option>
                                                            <i-Option value="0">否</i-Option>
                                                        </i-Select>
                                                    </td>
                                                    <td>
                                                        <i-input v-model="item.text"></i-input>
                                                    </td>
                                                    <td class="text-c">
                                                        <button @click="del_options(index)" class="btn btn-text col-main">删除</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <button @click="add_options" type="button" class="btn btn-main">添加参数</button>
                                        </div>
                                    </div>
                                    <div class="text-c">
                                        <button type="button" class="btn btn-outline mr-40">取消</button>
                                        <button type="button" class="btn btn-main" onclick="location.href='创建应用3.html'">下一步</button>
                                    </div>
                                    <div class="mt-40"></div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-copy">
                            <span class="copyright rg">©2017 GENECHEM All Rights Reserved.　沪ICP备15012724号    沪公网安备 310</span>
                            <a href="#" class="mr-60">吉凯基因分析平台</a>
                            <a href="#" class="mr-200">使用说明</a>
                        </div>
                    </i-Col>
                </Row>
            </div>
        </div>
    </div>
    <Modal v-model="model_1">
        <p slot="header">
            <span>添加选项</span>
        </p>
         <div class="table-responsive">
             <table class="table">
                 <thead>
                    <tr>
                        <td>选项名称</td>
                        <td>选项值</td>
                    </tr>
                 </thead>
                 <tbody>
                    <tr v-for="(item,index) in on_list">
                        <td><i-input v-model="item.name"></i-input></td>
                        <td><i-input v-model="item.value"></i-input></td>
                        <td><button type="button" class="btn btn-text col-main" @click="del_child_option(index)">删除</button></td>
                    </tr>
                 </tbody>
             </table>
             <div>
                 <button type="button" @click="add_child_option(1)" class="btn btn-main">添加选项</button>
             </div>
         </div>
        <div slot="footer">
            <button type="button" class="btn btn-outline" @click="model_1=false">取消</button>
            <button type="button" @click="keep_child_option(1)" class="btn btn-main">保存</button>
        </div>
    </Modal>
    <Modal v-model="model_2" :width="800">
        <p slot="header">
            <span>添加选项</span>
        </p>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                <tr>
                    <td>选项名称</td>
                    <td>选项值</td>
                    <td>子选项参数&nbsp;&nbsp;&nbsp;&nbsp;子选择值</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,$index) in on_list">
                    <td><i-input v-model="item.name"></i-input></td>
                    <td><i-input v-model="item.value"></i-input></td>
                    <td>
                        <div v-for="(two,two_index) in item.option" :r="$index" :c="two_index" class="mb-5">
                            <i-input v-model="two.name" style="width: 60px;" class="mr-10"></i-input>
                            <i-input v-model="two.value" style="width: 60px;"></i-input>
                            <button class="col-main btn btn-text" @click="del_two_option($index,two_index)">删除</button>
                        </div>
                        <button class="btn btn-text col-main" @click="add_two_option($index)">添加子选项</button>
                    </td>
                    <td><button type="button" class="btn btn-text col-main" @click="del_child_option($index)">删除</button></td>
                </tr>
                </tbody>
            </table>
            <div>
                <button @click="add_child_option(2)" type="button" class="btn btn-main">添加选项</button>
            </div>
        </div>
        <div slot="footer">
            <button type="button" class="btn btn-outline" @click="model_2=false">取消</button>
            <button type="button" @click="keep_child_option(2)"  class="btn btn-main">保存</button>
        </div>
    </Modal>
</section>
</body>
<script>
    var vm=new  Vue({
        el:"#app",
        data:{
            model_1:false,
            model_2:false,
            spanLeft:4,
            spanRight:20,
            formItem:{
                radio:"",
                number:2,
            },
            options_index:null,/*options index*/
            on_list:[],/*选项中间存储*/
            options:[
                {
                    name:null,
                    value:null,
                    type:null,
                    sel_option:null,
                    required:null,
                    text:"",
                    one_option:[/*一级选项*/
                        {
                            name:"",
                            value:"",
                        }
                    ],
                    two_option:[/*二级选项*/
                        {
                            name:"",
                            value:"",
                            option:[
                                {
                                    name:"",
                                    value:""
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        methods: {
            toggleClick () {
                if (this.spanLeft === 4) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 4;
                    this.spanRight = 20;
                }
            },
            add_options(){/*添加选项*/
                this.options.push(
                    {
                        name:null,
                        type:null,
                        sel_option:null,
                        required:null,
                        text:"",
                        one_option:[/*一级选项*/
                            {
                                name:"",
                                value:"",
                            }
                        ],
                        two_option:[/*二级选项*/
                            {
                                name:"",
                                value:"",
                                option:[
                                    {
                                        name:"",
                                        value:""
                                    }
                                ]
                            }
                        ]
                    }
                )
            },
            del_options(index){/*删除选项*/
                this.options.splice(index,1)
            },
            show_option(index,type){
                if(type===1){
                    this.model_1=true;
                    this.on_list=this.options[index].one_option;
                    this.options[index].two_option=[{}];/*清空2级*/
                }else if(type===2) {
                    this.model_2=true;
                    this.on_list=this.options[index].two_option;
                    this.options[index].one_option=[{}];/*清空1级*/
                }
                this.options_index=index;
            },
            add_child_option(type){/*添加选项*/
                if(type===1){
                    this.on_list.push({
                        name:"",
                        value:""
                    })
                }else if(type===2) {
                    this.on_list.push({
                    name:"",
                    value:"",
                    option:[
                        {
                            name:"",
                            value:""
                        }
                    ]
                })
                }

            },
            del_child_option(index){/*删除选项1*/
                this.on_list.splice(index,1)
            },
            keep_child_option(type){/*保存选项1*/
                var index=this.options_index
                if(type===1){
                    this.options[index].one_option=this.on_list;
                    this.model_1=false;
                }else if(type===2) {
                    this.options[index].two_option=this.on_list
                    this.model_2=false;
                }
            },
            add_two_option($index,two_index){/*二级选项的子选项*/
                this.on_list[$index].option.push(
                                    {
                                        name:"",
                                        value:""
                                   } );
            },
            del_two_option($index,two_index){/*删除2级子选项*/
                this.on_list[$index].option.splice(two_index,1)
            }
        } ,
        mounted:function () {

        }
    })
</script>
</html>