<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/vue/css/iview.css">
    <link rel="stylesheet" href="../js/slide/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/vue/iview.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/slide/swiper.js"></script>
    <script src="../js/script.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<section id="app">
    <header class="header" >
        <div class="container">
            <a href="#">
                <div class="layout-logo"></div>
                <div class="lf">吉凯基因分析平台</div>
            </a>
            <Dropdown class="lf ml-50">
                <a href="javascript:void (0)">
                    <span> 更多平台</span>
                    <Icon type="arrow-down-b"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <Dropdown-Item>更多平台一</Dropdown-Item>
                    <Dropdown-Item>更多平台二</Dropdown-Item>
                    <Dropdown-Item>更多平台三</Dropdown-Item>
                    <Dropdown-Item>更多平台四</Dropdown-Item>
                </DropdownMenu>
            </Dropdown>
            <div class="search ml-50 lf">
                <input class="search-input" type="text" placeholder="搜索应用">
                <button class="search-btn"></button>
            </div>
            <div class="rg">
                <!--登录之前-->
                <!--      <div class="lf"><a href="#">关于平台</a></div>-->
                <div class="lf ml-50"><a href="#">帮助中心</a></div>
                <div class="lf ml-50">
                    <Dropdown trigger="click">
                        <div href="#" class="badge">
                            <div class="badge-count">99+</div>
                        </div>
                        <Dropdown-Menu slot="list">
                            <div class="news">
                                <div class="news-header">
                                    <a class="rg" href="#">全部已读</a>
                                    <i class="icon"></i>
                                    <span>未读消息(36条)</span>
                                </div>
                                <div class="news-content">
                                    <ul class="list">
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="new-footer">
                                    <a href="#">查看全部>></a>
                                </div>
                            </div>
                        </Dropdown-Menu>
                    </Dropdown>
                </div>
                <div class="lf ml-20">
                    <Dropdown>
                        <a href="javascript:void(0)">
                            <img class="img-circle head" src="../images/head.png" style="width: 40px;height: 40px">
                            <span class=" name text-overflow">ExoxonsvyExoxonsvyExoxonsvy...</span>
                            <Icon type="arrow-down-b"></Icon>
                        </a>
                        <DropdownMenu slot="list">
                            <Dropdown-Item>个人信息</Dropdown-Item>
                            <Dropdown-Item>安全设置</Dropdown-Item>
                            <Dropdown-Item>第三方账号</Dropdown-Item>
                            <Dropdown-Item>退出</Dropdown-Item>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="layout mt-10" :class="{'layout-hide-text': spanLeft < 4}">
                <Row>
                    <i-Col :span="spanLeft" class="layout-menu-left text-c">
                        <div class="layout-logo-left">
                            <button class="btn btn-text"  @click="toggleClick" >
                                <Icon type="navicon" size="32"></Icon>
                            </button>
                        </div>
                        <i-Menu active-name="1" theme="dark" width="auto">
                            <Menu-Item name="1">
                                <i class="i-13"></i>
                                <span class="layout-text">工作面板</span>
                            </Menu-Item>
                            <Menu-Item name="2">
                                <i class="i-14"></i>
                                <span class="layout-text">应用市场</span>
                            </Menu-Item>
                            <Menu-Item name="3">
                                <i class="i-15"></i>
                                <span class="layout-text">我的应用</span>
                            </Menu-Item>
                            <Menu-Item name="4">
                                <i class="i-16"></i>
                                <span class="layout-text">我的项目</span>
                            </Menu-Item>
                            <Menu-Item name="5">
                                <i class="i-17"></i>
                                <span class="layout-text">我的文件</span>
                            </Menu-Item>
                            <Menu-Item name="6">
                                <i class="i-18"></i>
                                <span class="layout-text">我的账户</span>
                            </Menu-Item>
                            <Menu-Item name="7">
                                <i class="i-19"></i>
                                <span class="layout-text">好友列表</span>
                            </Menu-Item>
                            <Menu-Item name="8">
                                <i class="i-20"></i>
                                <span class="layout-text">使用帮助</span>
                            </Menu-Item>
                        </i-Menu>
                    </i-Col>
                    <i-Col :span="spanRight" class="layout-right">
                        <div class="layout-content">
                            <div class="market">
                                <div class="panel ">
                                    <div class="panel-body">
                                        <i-Input  placeholder="搜索应用" class="search-input">
                                            <i-Button slot="append" class="search-btn">搜索</i-Button>
                                        </i-Input>
                                        <div class="search-labels mt-10 ml-10">
                                            <a href="">我是一个标签啊</a>
                                            <a href="">我是一个标签啊</a>
                                            <a href="">我是一个标签啊</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel mt-10 ">
                                    <div class="panel-heading">
                                        <i class="icon i-22"></i>精选应用
                                    </div>
                                    <div class="panel-body">
                                        <div class="market-banner">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="positon-r">
                                                            <img class="cover-img" src="../images/list/5.png">
                                                            <div class="media banner-content">
                                                                <div class="media-left">
                                                                    <a href="应用详情.html"><img src="../images/list/6.png"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="rg">
                                                                        <p  class="col-main text-r"   v-if="checked"><Icon type="checkmark-round" class="mr-5"></Icon>已添加</p>
                                                                        <button @click="add" type="button" v-else  class="btn btn-main">添加到我的应用</button>

                                                                        <p class="text-r col-red">￥3.00/次(免费)</p>
                                                                    </div>
                                                                    <div><a href="应用详情.html" class="title text-overflow">HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因...</a><span class="f-12 col-666">调用次数：345次</span></div>
                                                                    <div class="labels">
                                                                        <span>我是一个标签...</span>
                                                                        <span>我是一个标签...</span>
                                                                        <span>基因.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="positon-r">
                                                            <img class="cover-img" src="../images/list/5.png">
                                                            <div class="media banner-content">
                                                                <div class="media-left">
                                                                    <a href="应用详情.html"><img src="../images/list/6.png"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="rg">
                                                                        <p  class="col-main text-r"   v-if="checked"><Icon type="checkmark-round" class="mr-5"></Icon>已添加</p>
                                                                        <button @click="add" type="button" v-else  class="btn btn-main">添加到我的应用</button>

                                                                        <p class="text-r col-red">￥3.00/次(免费)</p>
                                                                    </div>
                                                                    <div><a href="应用详情.html" class="title text-overflow">HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因...</a><span class="f-12 col-666">调用次数：345次</span></div>
                                                                    <div class="labels">
                                                                        <span>我是一个标签...</span>
                                                                        <span>我是一个标签...</span>
                                                                        <span>基因.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="positon-r">
                                                            <img class="cover-img" src="../images/list/5.png">
                                                            <div class="media banner-content">
                                                                <div class="media-left">
                                                                    <a href="应用详情.html"><img src="../images/list/6.png"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="rg">
                                                                        <p  class="col-main text-r"   v-if="checked"><Icon type="checkmark-round" class="mr-5"></Icon>已添加</p>
                                                                        <button @click="add" type="button" v-else  class="btn btn-main">添加到我的应用</button>

                                                                        <p class="text-r col-red">￥3.00/次(免费)</p>
                                                                    </div>
                                                                    <div><a href="应用详情.html" class="title text-overflow">HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因...</a><span class="f-12 col-666">调用次数：345次</span></div>
                                                                    <div class="labels">
                                                                        <span>我是一个标签...</span>
                                                                        <span>我是一个标签...</span>
                                                                        <span>基因.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-slide">
                                                        <div class="positon-r">
                                                            <img class="cover-img" src="../images/list/5.png">
                                                            <div class="media banner-content">
                                                                <div class="media-left">
                                                                    <a href="应用详情.html"><img src="../images/list/6.png"></a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="rg">
                                                                        <p  class="col-main text-r"   v-if="checked"><Icon type="checkmark-round" class="mr-5"></Icon>已添加</p>
                                                                        <button @click="add" type="button" v-else  class="btn btn-main">添加到我的应用</button>

                                                                        <p class="text-r col-red">￥3.00/次(免费)</p>
                                                                    </div>
                                                                    <div><a href="应用详情.html" class="title text-overflow">HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因HOPLCE直肠癌基因检测HOPLCE直肠癌基因...</a><span class="f-12 col-666">调用次数：345次</span></div>
                                                                    <div class="labels">
                                                                        <span>我是一个标签...</span>
                                                                        <span>我是一个标签...</span>
                                                                        <span>基因.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--导航按钮 -->
                                                <div class="swiper-button-prev"></div>
                                                <div class="swiper-button-next"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel mt-10 ">
                                    <div class="panel-heading">
                                        <i class="icon i-23"></i>新手必备
                                    </div>
                                    <div class="panel-body application-list">
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                                    <div class="transition-info">
                                                            <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                                的主要疾病,妇检是女性健康的一道
                                                                己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                            <div class="mt-20">调用次数：365次</div>
                                                     </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <img src="../images/list/msg.png" alt="" class="img-responsive">
                                </div>
                                <div class="panel mt-10 ">
                                    <div class="panel-heading">
                                        <a class="rg f-12" href="#">查看更多&gt;&gt;</a>
                                        <i class="icon i-24"></i>全部应用
                                    </div>
                                    <div class="panel-body application-list">
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>
                                                <a href="应用详情.html"><img src="../images/list/1.png" height="130" width="235"/></a>
                                            <div class="transition-info">
                                                <a class="info-text" href="应用详情.html">房检查 乳腺病是危害女性身心健康
                                                    的主要疾病,妇检是女性健康的一道
                                                    己负责的表现,点击了解民生医己负责的表现,点击了解民生医己负责的表现,点击了解民生医...</a>
                                                <div class="mt-20">调用次数：365次</div>
                                            </div>
                                            </dt>
                                            <dd>
                                                <a class="title" href="应用详情.html">
                                                    HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测HOPLCE 肺癌基因检测
                                                </a>
                                                <div class="rg col-red mt-5">￥3.00/次</div>
                                                <div class="labels mt-5">
                                                    <span>我是一个标签啊</span>
                                                    <span>最搞笑</span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-copy">
                            <a href="#" class="mr-60">吉凯基因分析平台</a>
                            <a href="#" class="mr-200">使用说明</a>
                            <span class="copyright rg">©2017 GENECHEM All Rights Reserved.　沪ICP备15012724号    沪公网安备 310</span>
                        </div>
                    </i-Col>
                </Row>
            </div>
        </div>
    </div>
</section>
</body>
<script>
    var vm=new  Vue({
        el:"#app",
        data:{
            spanLeft:4,
            spanRight:20,
            checked:false
        },
        methods: {
            toggleClick () {
                if (this.spanLeft === 4) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 4;
                    this.spanRight = 20;
                }
            },
            add(){
                this.checked=true;
                this.$Notice.success({
                    title: '成功添加至您的应用！',
                    desc: ''
                });
            }
        } ,
        mounted:function () {

        }
    })

</script>
</html>