<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/vue/css/iview.css">
    <link rel="stylesheet" href="../js/slide/swiper.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/vue/iview.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/slide/swiper.js"></script>
    <script src="../js/script.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<section id="app">
    <header class="header" >
        <div class="container">
            <a href="#">
                <div class="layout-logo"></div>
                <div class="lf">吉凯基因分析平台</div>
            </a>
            <Dropdown class="lf ml-50">
                <a href="javascript:void (0)">
                    <span> 更多平台</span>
                    <Icon type="arrow-down-b"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <Dropdown-Item>新增和启动</Dropdown-Item>
                    <Dropdown-Item>活跃分析</Dropdown-Item>
                    <Dropdown-Item>时段分析</Dropdown-Item>
                    <Dropdown-Item>更多平台四</Dropdown-Item>
                </DropdownMenu>
            </Dropdown>
            <div class="search ml-50 lf">
                <input class="search-input" type="text" placeholder="搜索应用">
                <button class="search-btn"></button>
            </div>
            <div class="rg">
                <!--登录之前-->
                <!--<div class="lf"><a href="#">关于平台</a></div>-->
                <div class="lf ml-50"><a href="#">帮助中心</a></div>
                <div class="lf ml-50">
                    <Dropdown trigger="click">
                        <div href="#" class="badge">
                            <div class="badge-count">99+</div>
                        </div>
                        <Dropdown-Menu slot="list">
                            <div class="news">
                                <div class="news-header">
                                    <a class="rg" href="#">全部已读</a>
                                    <i class="icon"></i>
                                    <span>未读消息(36条)</span>
                                </div>
                                <div class="news-content">
                                    <ul class="list">
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="new-footer">
                                    <a href="#">查看全部>></a>
                                </div>
                            </div>
                        </Dropdown-Menu>
                    </Dropdown>
                </div>
                <div class="lf ml-20">
                    <Dropdown>
                        <a href="javascript:void(0)">
                            <img class="img-circle head" src="../images/head.png" style="width: 40px;height: 40px">
                            <span class=" name text-overflow">ExoxonsvyExoxonsvyExoxonsvy...</span>
                            <Icon type="arrow-down-b"></Icon>
                        </a>
                        <DropdownMenu slot="list">
                            <Dropdown-Item>个人信息</Dropdown-Item>
                            <Dropdown-Item>安全设置</Dropdown-Item>
                            <Dropdown-Item>第三方账号</Dropdown-Item>
                            <Dropdown-Item>退出</Dropdown-Item>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="layout mt-10" :class="{'layout-hide-text': spanLeft < 4}">
                <Row>
                    <i-Col :span="spanLeft" class="layout-menu-left text-c">
                        <div class="layout-logo-left">
                            <button class="btn btn-text"  @click="toggleClick" >
                                <Icon type="navicon" size="32"></Icon>
                            </button>
                        </div>
                        <i-Menu active-name="1" theme="dark" width="auto">
                            <Menu-Item name="1">
                                <i class="i-13"></i>
                                <span class="layout-text">工作面板</span>
                            </Menu-Item>
                            <Menu-Item name="2">
                                <i class="i-14"></i>
                                <span class="layout-text">应用市场</span>
                            </Menu-Item>
                            <Menu-Item name="3">
                                <i class="i-15"></i>
                                <span class="layout-text">我的应用</span>
                            </Menu-Item>
                            <Menu-Item name="4">
                                <i class="i-16"></i>
                                <span class="layout-text">我的项目</span>
                            </Menu-Item>
                            <Menu-Item name="5">
                                <i class="i-17"></i>
                                <span class="layout-text">我的文件</span>
                            </Menu-Item>
                            <Menu-Item name="6">
                                <i class="i-18"></i>
                                <span class="layout-text">我的账户</span>
                            </Menu-Item>
                            <Menu-Item name="7">
                                <i class="i-19"></i>
                                <span class="layout-text">好友列表</span>
                            </Menu-Item>
                            <Menu-Item name="8">
                                <i class="i-20"></i>
                                <span class="layout-text">使用帮助</span>
                            </Menu-Item>
                        </i-Menu>
                    </i-Col>
                    <i-Col :span="spanRight" class="layout-right">
                        <div class="layout-content">
                                <div class="panel">
                                    <div class="panel-heading text-c">
                                        <i class="icon i-55"></i>与&nbsp;ALEX&nbsp;的站内信
                                    </div>
                                    <div class="panel-body">
                                            <div id="m-message" class="m-message">
                                                <ul>
                                                    <li>
                                                        <p class="time"><span>2017-05-12   16:37</span></p>
                                                        <div class="main">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">ALEX</div>
                                                            <div class="text">
                                                                义勇军进行曲
                                                                田汉作词,聂耳作曲
                                                                起来!
                                                                不愿做奴隶的人们!
                                                                把我们的血肉,
                                                                筑成我们新的长城!
                                                                中华民族到了
                                                                最危险的时候,
                                                                每个人被迫着
                                                                发出最后的吼声!
                                                                起来!
                                                                起来!
                                                                起来!
                                                                我们万众一心,
                                                                冒着敌人的炮火
                                                                前进,
                                                                冒着敌人的炮火
                                                                前进!
                                                                前进!
                                                                前进!进!!
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="time"><span>15:10</span></p>
                                                        <div class="main this">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">大熊</div>
                                                            <div class="text">没吃药？</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="time"><span>2017-05-12   16:37</span></p>
                                                        <div class="main">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">ALEX</div>
                                                            <div class="text">在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？在吗？？？</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="time"><span>15:10</span></p>
                                                        <div class="main this">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">大熊</div>
                                                            <div class="text">不在</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p class="time"><span>15:10</span></p>
                                                        <div class="main this">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">大熊</div>
                                                            <div class="text">英文字体选择，不够高级，可以试试opensans,lato字体 现在字体有
                                                                点粗，显得不够精致！两份CBinsights的分析文档，关于亚马逊的战
                                                                略布局以及下一代电商发展的趋势。
                                                                <img src="../images/list/1.png" alt="">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li v-for="item in message_list ">
                                                        <p class="time"><span>15:10</span></p>
                                                        <div class="main this">
                                                            <img class="avatar" width="40" height="40" src="../images/head.png">
                                                            <div class="name">大熊</div>
                                                            <div class="text" v-text="item.text"></div>
                                                            <div l></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="m-text">
                                            <textarea @keyup.13="send" v-model="text_value" placeholder="在此输入信息"></textarea>
                                        </div>
                                        <div class="text-r mt-10 m-upload">
                                            <Upload
                                                    ref="upload"
                                                    :show-upload-list="false"
                                                    :on-success="handleSuccess"
                                                    :format="['jpg','jpeg','png']"
                                                    :max-size="2048"
                                                    :on-format-error="handleFormatError"
                                                    :on-exceeded-size="handleMaxSize"
                                                    :before-upload="handleBeforeUpload"
                                                    multiple
                                                    type="drag"
                                                    action="//jsonplaceholder.typicode.com/posts/"
                                                    class="lf"
                                                    style="width: 30px"
                                                    >
                                                <div class="cursor" style="width: 28px;height: 30px;line-height: 30px "><Icon type="image" size="30"></Icon></div>
                                            </Upload>
                                            <button type="button" @click="send" class="btn btn-main">发送</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="layout-copy">
                            <span class="copyright rg">©2017 GENECHEM All Rights Reserved.　沪ICP备15012724号    沪公网安备 310</span>
                            <a href="#" class="mr-60">吉凯基因分析平台</a>
                            <a href="#" class="mr-200">使用说明</a>
                        </div>
                    </i-Col>
                </Row>
            </div>
        </div>
    </div>
</section>
</body>
<script>
    var vm=new  Vue({
        el:"#app",
        data:{
            spanLeft:4,
            spanRight:20,
            text_value:"",
            message_list:[],
            uploadList:[]
        },
        methods: {
            toggleClick () {
                if (this.spanLeft === 4) {
                    this.spanLeft = 2;
                    this.spanRight = 22;
                } else {
                    this.spanLeft = 4;
                    this.spanRight = 20;
                }
            },
            send(){
                var text=this.text_value;
                if(text.trim()==""){
                    this.$Message.warning('不能发送空消息!');
                    return;
                }
                this.message_list.push({
                    text:text
                });
                this.$Message.success('发送成功!');
                this.text_value="";
            },
            handleView (name) {
                this.imgName = name;
                this.visible = true;
            },
            handleRemove (file) {
                // 从 upload 实例删除数据
                const fileList = this.$refs.upload.fileList;
                this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
            },
            handleSuccess (res, file) {
                // 因为上传过程为实例，这里模拟添加 url
                file.url = 'https://o5wwk8baw.qnssl.com/7eb99afb9d5f317c912f08b5212fd69a/avatar';
                file.name = '7eb99afb9d5f317c912f08b5212fd69a';
            },
            handleFormatError (file) {
                this.$Notice.warning({
                    title: '文件格式不正确',
                    desc: '文件 ' + file.name + ' 格式不正确，请上传 jpg 或 png 格式的图片。'
                });
            },
            handleMaxSize (file) {
                this.$Notice.warning({
                    title: '超出文件大小限制',
                    desc: '文件 ' + file.name + ' 太大，不能超过 2M。'
                });
            },
            handleBeforeUpload () {
                const check = this.uploadList.length < 5;
                if (!check) {
                    this.$Notice.warning({
                        title: '最多只能上传 5 张图片。'
                    });
                }
                return check;
            }
        } ,
        mounted:function () {

        },
        watch:{
            message_list:function () {
                this.$nextTick(() => {
                    var container = this.$el.querySelector("#m-message");
                    container.scrollTop = container.scrollHeight;
                });
            }
        }

    })
</script>
</html>