@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~iview/dist/styles/iview.css";
/*蓝   按钮&主题色*/
/*背景*/
/*边框*/
/*投影*/
/* 钱*/
/*提示*/
/*标签*/
.lf {
  float: left;
}
.rg {
  float: right;
}
.container {
  width: 1200px!important;
  margin: 0 auto;
  padding: 0 10px;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.v-m {
  vertical-align: middle;
}
.positon-r {
  position: relative;
}
.t-l {
  position: absolute;
  top: 10px;
  left: 10px;
}
.t-r {
  position: absolute;
  top: 10px;
  right: 10px;
}
.b-l {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.b-r {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.cursor {
  cursor: pointer;
}
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.img-circle {
  border-radius: 50%;
}
.col-main {
  color: #379cf8;
}
.col-999 {
  color: #999;
}
.col-666 {
  color: #666;
}
.col-red {
  color: #d97a6f;
}
.bg_f8f8f8 {
  background-color: #f8f8f8;
}
.bg_dfe6ee {
  background-color: #dfe6ee;
}
.btn,
.ivu-btn-large {
  padding: 4px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s;
}
.btn.btn-main,
.ivu-btn-large.btn-main {
  background-color: #379cf8;
  color: #fff;
}
.btn.btn-main:hover,
.ivu-btn-large.btn-main:hover {
  background-color: #81bef7;
}
.btn.btn-main:active,
.ivu-btn-large.btn-main:active {
  background-color: #2f85f3;
}
.btn:active,
.ivu-btn-large:active,
.btn:focus,
.ivu-btn-large:focus {
  outline: none;
  border-color: transparent;
}
.btn.btn-text,
.ivu-btn-large.btn-text {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn.btn-text:hover,
.ivu-btn-large.btn-text:hover {
  color: #379cf8;
}
.btn.btn-text:focus,
.ivu-btn-large.btn-text:focus,
.btn.btn-text:active,
.ivu-btn-large.btn-text:active {
  border-color: transparent;
  outline: none;
}
.btn.btn-text.col-main,
.ivu-btn-large.btn-text.col-main {
  color: #379cf8;
}
.btn.btn-outline,
.ivu-btn-large.btn-outline {
  background: transparent;
  border: 1px solid #e6e6e6;
  color: #666;
}
.btn.btn-outline:hover,
.ivu-btn-large.btn-outline:hover {
  color: #999;
}
.btn.btn-outline:active,
.ivu-btn-large.btn-outline:active {
  background-color: #bbb;
  color: #fff;
  outline: none;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.panel {
  border-radius: 0;
  margin-bottom: 0;
}
.panel .panel-heading {
  background-color: #f8f8f8 ;
  padding: 10px;
}
.panel .panel-body {
  padding: 10px;
}
.media-body {
  width: 10000px;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #dfe6ee;
}
a {
  color: #333;
  transition: all .4s;
}
input[type="text"] {
  color: #379cf8;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center-modal .ivu-modal {
  top: 0;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
.mt-4 {
  margin-top: 4px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-100 {
  margin-left: 100px;
}
.ml-170 {
  margin-left: 170px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-100 {
  margin-right: 100px;
}
.mr-200 {
  margin-right: 200px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ivu-dropdown-item:hover {
  background-color: #379cf8;
  color: #fff;
}
.ivu-modal-footer {
  border-top: none;
}
.header {
  position: relative;
  height: 72px;
  line-height: 70px;
  background-color: #fff;
}
.header:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #2f85f3;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .layout-logo {
  width: 50px;
  height: 50px;
  background: #fff url("../images/logo.png") no-repeat center;
  float: left;
  position: relative;
  top: 10px;
  left: 0px;
}
.header .search-input {
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 10px;
  width: 140px;
  font-size: 12px;
  padding-right: 28px;
  transition: all .4s;
}
.header .search-input:focus {
  border-color: #379cf8;
}
.header .search-btn {
  background: transparent url("../images/icons/i-1-search.png") no-repeat center;
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
  position: relative;
  left: -24px;
  top: 4px;
  cursor: pointer;
}
.header .badge {
  width: 20px;
  height: 40px;
  background: url("../images/icons/i-2.png") no-repeat center 8px;
  cursor: pointer;
}
.header .badge-count {
  background-color: #fb523e;
  font-size: 12px;
  width: 24px;
  height: 14px;
  border: 1px solid #fb523e;
  padding: 0 2px;
  color: #fff;
  line-height: normal;
  border-radius: 4px;
  position: relative;
  left: -29px;
  top: 4px;
}
.header .name {
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.header .news {
  width: 400px;
}
.header .news .icon {
  width: 20px;
  height: 24px;
  display: inline-block;
  background: url("../images/icons/i-2.png") no-repeat center;
  vertical-align: middle;
}
.header .news .news-header {
  background-color: #f8f8f9;
  line-height: 50px;
  padding: 0 20px 0 10px;
}
.header .news .news-content {
  height: 210px;
  overflow-y: scroll;
  line-height: normal;
  font-size: 12px;
}
.header .news .news-content li {
  padding: 0 10px;
  overflow: hidden;
  height: 50px;
  transition: all .2s;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
}
.header .news .news-content li:last-child {
  border-bottom: none;
}
.header .news .news-content li:hover {
  background-color: #379cf8;
  color: #fff;
}
.header .news .news-content li:hover a {
  color: #fff;
  text-decoration: underline;
}
.header .news .news-content li:hover .content {
  color: #fff;
}
.header .news .news-content .title {
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  margin-right: 10px;
}
.header .news .news-content .content {
  float: left;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
.header .news .news-content a {
  float: right;
  color: #999;
}
.header .news .new-footer {
  text-align: center;
  line-height: 50px;
}
.header .ivu-dropdown-item {
  font-size: 14px!important;
}
.main {
  position: relative;
  padding-bottom: 140px;
}
.footer {
  background-color: #f8faff;
  height: 120px;
  color: #666;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*404*/
.c-404 {
  margin: 200px auto 0;
  height: 255px;
  background: url("../images/404.png") no-repeat center;
}
/*登录注册*/
.login-and-regsiter {
  /*lable*/
  /*清除按钮*/
  /*错误提示样式*/
  /*其他媒体*/
}
.login-and-regsiter .content {
  width: 950px;
  height: 700px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}
.login-and-regsiter .login-banner {
  width: 50%;
  float: left;
}
.login-and-regsiter .box {
  width: 50%;
  height: 700px;
  float: left;
  position: relative;
}
.login-and-regsiter .box .form {
  padding: 0 50px 0 80px;
}
.login-and-regsiter .form-group {
  margin-bottom: 0;
  height: 60px;
}
.login-and-regsiter .form-lable {
  font-size: 14px;
  width: 56px;
  text-align: right;
}
.login-and-regsiter .input-text {
  font-size: 12px;
  height: 36px;
}
.login-and-regsiter .btn-md {
  padding: 8px 15px;
}
.login-and-regsiter .input-group-addon,
.login-and-regsiter .input-text,
.login-and-regsiter .input-group-btn {
  border: none;
  border-bottom: 1px solid #ddd;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
}
.login-and-regsiter .clear-txt {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url("../images/icons/i-3.png") no-repeat center;
  cursor: pointer;
}
.login-and-regsiter .message-box {
  line-height: 30px;
}
.login-and-regsiter .Validform_checktip {
  padding-left: 86px;
  color: #fb523e;
}
.login-and-regsiter .social-box {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: #f0f0ef;
}
.login-and-regsiter .social-box a {
  display: inline-block;
  width: 52px;
  height: 52px;
  margin: 0 30px;
}
.login-and-regsiter .social-box a.qq {
  background: url("../images/icons/i-4.png") no-repeat center;
}
.login-and-regsiter .social-box a.qq:hover {
  background-image: url("../images/icons/i-4-h.png");
}
.login-and-regsiter .social-box a.wx {
  background: url("../images/icons/i-5.png") no-repeat center;
}
.login-and-regsiter .social-box a.wx:hover {
  background-image: url("../images/icons/i-5-h.png");
}
.login-and-regsiter .social-box a.zfb {
  background: url("../images/icons/i-6.png") no-repeat center;
}
.login-and-regsiter .social-box a.zfb:hover {
  background-image: url("../images/icons/i-6-h.png");
}
.login-and-regsiter .icon-info {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/icons/i-7.png") no-repeat center;
  vertical-align: middle;
}
.register-btn {
  background-color: #379cf8;
  color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
}
.register-btn:hover,
.register-btn:active,
.register-btn:focus {
  color: #fff;
}
/*充值*/
.recharge .ivu-tabs-nav .ivu-tabs-tab {
  padding: 8px 200px;
}
.recharge .top {
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}
.recharge .well {
  background-color: #fffffe;
}
.recharge .checked-item {
  border: 1px solid #dddee1;
  width: 160px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  cursor: pointer;
}
.recharge .checked-item.checked,
.recharge .checked-item:hover {
  border-color: #379cf8;
  background: url("../images/icons/i-8.png") no-repeat 130px center;
  color: #379cf8;
}
.recharge .icon-zfb,
.recharge .icon-wx {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: center no-repeat;
  vertical-align: middle;
}
.recharge .icon-wx {
  background-image: url("../images/icons/wx.png");
}
.recharge .icon-zfb {
  background-image: url("../images/icons/zfb.png");
}
.recharge .table thead td {
  border-bottom: 1px solid #e6e6e6;
  text-align: right;
  font-size: 16px;
}
.recharge .table tbody td:first-child {
  text-align: right;
}
.recharge .info-text {
  white-space: nowrap;
}
/*布局*/
.layout {
  position: relative;
  overflow: hidden;
}
.layout .layout-content {
  min-height: 400px;
  margin-left: 10px;
}
.layout .layout-menu-left {
  background: #355682;
  min-height: 800px;
}
.layout .layout-right {
  min-height: 200px;
}
.layout .layout-logo-left {
  width: 90%;
  height: 30px;
  margin: 15px auto;
}
.layout .layout-ceiling-main a {
  color: #fff;
}
.layout.layout-hide-text .layout-text {
  display: none;
}
.layout .layout-copy {
  height: 80px;
  line-height: 80px;
  padding-left: 20px;
}
.layout .ivu-menu-dark {
  background-color: #355682;
}
.layout .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  background-color: #667fa1;
  color: #fff;
  border-right: none;
  border-left: 4px solid #379cf8;
}
.layout .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover {
  background-color: #4a6890;
}
.layout .ivu-menu-dark i {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: no-repeat center;
  vertical-align: middle;
}
.layout .ivu-menu-dark i.i-13 {
  background-image: url("../images/icons/i-13.png");
}
.layout .ivu-menu-dark i.i-14 {
  background-image: url("../images/icons/i-14.png");
}
.layout .ivu-menu-dark i.i-15 {
  background-image: url("../images/icons/i-15.png");
}
.layout .ivu-menu-dark i.i-16 {
  background-image: url("../images/icons/i-16.png");
}
.layout .ivu-menu-dark i.i-17 {
  background-image: url("../images/icons/i-17.png");
}
.layout .ivu-menu-dark i.i-18 {
  background-image: url("../images/icons/i-18.png");
}
.layout .ivu-menu-dark i.i-19 {
  background-image: url("../images/icons/i-19.png");
}
.layout .ivu-menu-dark i.i-20 {
  background-image: url("../images/icons/i-20.png");
}
.layout .ivu-menu-dark i.i-62 {
  background-image: url("../images/icons/i-62.png");
}
.layout .ivu-menu-dark i.i-63 {
  background-image: url("../images/icons/i-63.png");
}
.layout .ivu-menu-dark i.i-64 {
  background-image: url("../images/icons/i-64.png");
}
/*应用市场*/
.market {
  /*应用详情*/
  /*立即应用*/
}
.market .market-banner {
  width: 100%;
}
.market .market-banner .swiper-slide {
  width: 670px;
  border: 1px solid #e6e6e6;
}
.market .market-banner .swiper-slide-active {
  border: none;
  padding-bottom: 30px;
}
.market .market-banner .swiper-slide-active img {
  box-shadow: 0 26px 40px -24px #2f85f3;
  -webkit-box-shadow: 0 26px 40px -24px #2f85f3;
  -moz-box-shadow: 0 26px 40px -24px #2f85f3;
}
.market .market-banner .swiper-slide-active:hover .banner-content {
  opacity: 1;
}
.market .market-banner .swiper-button-next,
.market .market-banner .swiper-button-prev {
  top: 0;
  margin-top: 0;
  width: 110px;
  height: 268px;
  /* background: none;*/
}
.market .market-banner .swiper-button-next {
  right: 0;
  border-right: 1px solid #e6e6e6;
}
.market .market-banner .swiper-button-prev {
  left: 0;
  border-left: 1px solid #e6e6e6;
}
.market .banner-content {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 660px;
  height: 61px;
  margin: 0 5px;
  padding: 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  opacity: 0;
  transition: opacity .4s;
}
.market .banner-content .title {
  width: 294px;
  display: inline-block;
  vertical-align: middle;
}
.market .details {
  padding-bottom: 30px;
}
.market .details .market-name {
  display: inline-block;
  max-width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.market .details .list {
  text-align: center;
}
.market .details .list li {
  display: inline-block;
  margin-right: 30px;
  width: 78px;
  height: 44px;
  overflow: hidden;
  cursor: pointer;
}
.market .details .list li:last-child {
  margin-right: 0;
}
.market .details .left-content {
  width: 706px;
}
.market .details .banner {
  border: 1px solid #e6e6e6;
  padding-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.market .details .right-content {
  width: 235px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  min-height: 481px;
  color: #666;
}
.market .details .right-content .title {
  color: #333;
}
.market .details .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  width: 520px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
.market .details .gallery-thumbs span {
  flex: 1;
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.4;
}
.market .details .gallery-thumbs span.active {
  opacity: 1;
}
.market .details .gallery-thumbs span:last-child {
  margin-right: 0;
}
.market.run .title {
  display: inline-block;
  vertical-align: middle;
  width: 640px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.market.run .i-25 {
  display: inline-block;
  width: 22px;
  height: 18px;
  vertical-align: middle;
  background: url("../images/icons/i-25.png") no-repeat center 0;
  margin-right: 5px;
}
.market.run .tip {
  vertical-align: middle;
}
.market.run .tip i {
  vertical-align: middle;
}
.market.run .application-form {
  padding: 20px;
}
.market.run .form-title {
  font-size: 16px;
  border-bottom: 1px solid #e6e6e6;
}
/*应用说明弹框*/
.application-alert .msg {
  height: 460px;
  overflow-y: scroll;
}
.application-alert .msg img {
  max-width: 100%;
  height: auto;
}
/*首页*/
.index .service_step {
  height: 380px;
  width: 100%;
  background: transparent url("../images/list/bg.png") repeat-x 100%;
}
.index .index-step {
  display: inline-block;
  background: url("../images/list/index/step.png") no-repeat center;
  height: 122px;
  width: 692px;
}
.index .selected-application {
  background-color: #fff;
  padding-bottom: 50px;
}
.index .selected-application .list {
  display: flex;
  width: 1095px;
  margin: 70px auto 0;
}
.index .selected-application .list dl {
  flex: 1;
  border: 1px solid #e6e6e6;
  float: left;
  text-align: justify;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index .selected-application .list dl:nth-child(2) {
  margin: 0 20px;
}
.index .selected-application .list dl:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-box-shadow: 0 26px 40px -24px #379cf8;
  -moz-box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.index .selected-application .list dl dd {
  padding: 0 30px 30px;
}
.index .selected-application .list dl .text {
  line-height: 26px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 130px;
}
.index .line {
  width: 70px;
  height: 2px;
  margin: 20px auto 0;
  background: #379cf8;
}
/*关于我们*/
.about-us {
  background: transparent url("../images/list/bg.png") repeat-x 100%;
}
.about-us .about-nav {
  position: fixed;
  padding: 20px 0;
  background-color: #fff;
}
.about-us .about-nav a {
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  padding-left: 10px;
}
.about-us .content {
  margin-left: 190px;
}
.about-us .text {
  text-align: justify;
  line-height: 30px;
}
.about-us .panel-body {
  padding-left: 20px;
  padding-right: 20px;
}
.about-us .link-text {
  line-height: 24px;
}
.about-us .media {
  padding: 10px 0;
}
.about-us .media:hover {
  background-color: #eff7fe;
}
.about-us .list {
  overflow: hidden;
}
.about-us .list a {
  display: block;
  float: left;
  width: 229px;
  height: 130px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #72d3bf;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-us .list a:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-box-shadow: 0 26px 40px -24px #379cf8;
  -moz-box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-us .list a:nth-child(4n) {
  margin-right: 0;
}
.about-us .list a img {
  max-width: 100%;
}
/*标签*/
.labels span {
  display: inline-block;
  background-color: #6fc3c3;
  color: #fff;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 2px;
  max-width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*title icon*/
.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: center no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}
.icon.i-22 {
  background-image: url("../images/icons/i-22.png");
}
.icon.i-23 {
  background-image: url("../images/icons/i-23.png");
}
.icon.i-24 {
  background-image: url("../images/icons/i-24.png");
}
.icon.i-26 {
  background-image: url("../images/icons/i-26.png");
}
.icon.i-27 {
  background-image: url("../images/icons/i-27.png");
}
.icon.i-28 {
  background-image: url("../images/icons/i-28.png");
}
.icon.i-29 {
  background-image: url("../images/icons/i-29.png");
}
.icon.i-30 {
  background-image: url("../images/icons/i-30.png");
}
.icon.i-31 {
  background-image: url("../images/icons/i-31.png");
}
.icon.i-32 {
  background-image: url("../images/icons/i-32.png");
}
.icon.i-33 {
  background-image: url("../images/icons/i-33.png");
}
.icon.i-49 {
  background-image: url("../images/icons/i-49.png");
}
.icon.i-38 {
  background-image: url("../images/icons/i-38.png");
}
.icon.i-55 {
  background-image: url("../images/icons/i-55.png");
}
.icon.i-56 {
  background-image: url("../images/icons/i-56.png");
}
.icon.i-57 {
  background-image: url("../images/icons/i-57.png");
}
.icon.i-58 {
  background-image: url("../images/icons/i-58.png");
}
.icon.i-59 {
  background-image: url("../images/icons/i-59.png");
}
.icon.i-60 {
  background-image: url("../images/icons/i-60.png");
}
.icon.i-61 {
  background-image: url("../images/icons/i-61.png");
}
/*应用列表*/
.application-list dl {
  float: left;
  width: 230px;
  height: 190px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.application-list dl:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-box-shadow: 0 26px 40px -24px #379cf8;
  -moz-box-shadow: 0 26px 40px -24px #379cf8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.application-list dl:nth-child(4n) {
  margin-right: 0;
}
.application-list dl dt {
  min-height: 130px;
  position: relative;
  font-weight: normal;
  cursor: pointer;
}
.application-list dl dt:hover .transition-info {
  opacity: 1;
}
.application-list dl dt .transition-info {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity .7s;
}
.application-list dl dt .info-text {
  display: block;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 24px;
  height: 68px;
  text-align: justify;
  color: #fff;
}
.application-list dl .title {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.application-list dl dd {
  padding: 8px 6px 6px 6px ;
}
/*搜索*/
.search-labels a {
  font-size: 12px;
  display: inline-block;
  color: #666;
  max-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 20px;
}
.search-labels a:first-child {
  margin-left: 0;
}
.search-btn {
  background-color: #bbb;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.search-input .ivu-input {
  background: url("../images/icons/i-21.png") no-repeat 10px center;
  padding-left: 30px;
}
.table-hover thead > tr > th {
  border-bottom: none;
}
.table-hover thead > tr > td {
  padding: 12px 8px;
}
.table-hover > tbody > tr td {
  line-height: 36px;
  border-top: none;
}
.table-hover > tbody > tr:hover {
  background-color: #eff7fe;
}
.table-hover > tbody > tr:hover .info-text {
  opacity: 1;
}
.table-hover > tbody > tr:active {
  background-color: #d2e6f8;
}
.table .operation {
  position: relative;
}
.table .operation .info-text {
  width: 28px;
  font-size: 12px;
  line-height: normal;
  position: absolute;
  left: -4px;
  top: 14px;
  opacity: 0;
  transition: opacity .4s;
}
.table p {
  margin-bottom: 0;
  max-width: 146px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table p .link {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table p .link:hover {
  text-decoration: underline;
  color: #379cf8;
}
/*创建新项目按钮*/
.create_new_project {
  width: 150px;
  position: absolute;
  background-color: #dfe6ee;
  right: -4px;
  top: -21px;
  height: 74px;
}
.create_new_project .btn {
  font-size: 16px;
  padding: 20px 16px;
}
.create_new_project .ivu-icon {
  position: relative;
  top: 3px;
}
/*切换*/
.tabs li {
  display: inline-block;
  position: relative;
}
.tabs li.active a {
  color: #379cf8;
  text-decoration: none;
}
.tabs li.active .badge {
  background-color: #379cf8;
  color: #fff;
}
.tabs li.active i {
  display: inline-block;
  position: absolute;
  width: 54px;
  height: 12px;
  background: url("../images/icons/i-41.png");
}
.tabs li .badge {
  background-color: #ccc;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  top: -10px;
  right: -22px;
  padding: 1px 6px;
  border-radius: 7px;
}
.tabs:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dfe6ee;
  margin-top: 6px;
}
/*富文本编辑*/
.simditor {
  border: 1px solid #e6e6e6;
}
.simditor .simditor-body img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/*站内信*/
.m-message {
  overflow-y: scroll;
  height: 540px;
  /*自己*/
}
.m-message li {
  margin-bottom: 15px;
}
.m-message .main {
  position: relative;
  overflow: hidden;
}
.m-message .avatar {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 50%;
}
.m-message .time {
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 28px;
}
.m-message .text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  max-width: calc(60%);
  min-height: 30px;
  line-height: 2.5;
  font-size: 12px;
  text-align: left;
  word-break: break-all;
  background-color: #f8f8f9;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.m-message .text img {
  max-width: 100%;
  max-height: 100%;
}
.m-message .name {
  font-size: 12px;
}
.m-message .this {
  text-align: right;
}
.m-message .this .avatar {
  float: right;
  margin: 0 20px 0 10px;
}
.m-text {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.m-text textarea {
  padding: 10px;
  height: 100%;
  width: 100%;
  border: none;
  outline: 0;
  font-family: Micrsofot Yahei;
  resize: none;
}
input.edit-input {
  border: none;
  outline: none;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #e6e6e6;
}
/*上传文件大按钮*/
.file_btn {
  top: 10px;
}
/*qq&&微信&&支付宝个人信息*/
.i-68,
.i-69,
.i-70 {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: no-repeat center;
}
.i-68 {
  background-image: url("../images/icons/i-68.png");
}
.i-68.active {
  background-image: url("../images/icons/i-68-h.png");
}
.i-69 {
  background-image: url("../images/icons/i-69.png");
}
.i-69.active {
  background-image: url("../images/icons/i-69-h.png");
}
.i-70 {
  background-image: url("../images/icons/i-70.png");
}
.i-70.active {
  background-image: url("../images/icons/i-70-h.png");
}
.i-73,
.i-74 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat center;
  vertical-align: text-bottom;
  margin-right: 5px;
}
.i-73 {
  background-image: url("../images/icons/i-73.png");
}
.i-74 {
  background-image: url("../images/icons/i-74.png");
}
.user_edit_btn {
  background: transparent url("../images/icons/i-71.png") no-repeat center;
  border: none;
  outline: none;
  width: 48px;
  height: 20px;
  transition: background .6s;
  vertical-align: middle;
}
.user_edit_btn:hover,
.user_edit_btn.active {
  background-image: url("../images/icons/i-71-a.png");
}
/*个人信息*/
.user_msg .ivu-input[disabled],
.user_msg fieldset[disabled] .ivu-input {
  background-color: transparent;
  opacity: 1;
  border: none;
  cursor: default;
  color: #333;
}
