<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../js/vue/css/iview.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/vue/iview.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/script.js"></script>
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <title>Title</title>
</head>
<body>
<section id="app">
    <header class="header" >
        <div class="container">
            <a href="#">
                <div class="layout-logo"></div>
                <div class="lf">吉凯基因分析平台</div>
            </a>
            <Dropdown class="lf ml-50">
                <a href="javascript:void (0)">
                    <span> 更多平台</span>
                    <Icon type="arrow-down-b"></Icon>
                </a>
                <DropdownMenu slot="list">
                    <Dropdown-Item>新增和启动</Dropdown-Item>
                    <Dropdown-Item>活跃分析</Dropdown-Item>
                    <Dropdown-Item>时段分析</Dropdown-Item>
                    <Dropdown-Item>更多平台四</Dropdown-Item>
                </DropdownMenu>
            </Dropdown>
            <div class="search ml-50 lf">
                <input class="search-input" type="text" placeholder="搜索应用">
                <button class="search-btn"></button>
            </div>
            <div class="rg">
                <!--登录之前-->
                <!--<div class="lf"><a href="#">关于平台</a></div>-->
                <div class="lf ml-50"><a href="#">帮助中心</a></div>
                <div class="lf ml-50">
                    <Dropdown trigger="click">
                        <div href="#" class="badge">
                            <div class="badge-count">99+</div>
                        </div>
                        <Dropdown-Menu slot="list">
                            <div class="news">
                                <div class="news-header">
                                    <a class="rg" href="#">全部已读</a>
                                    <i class="icon"></i>
                                    <span>未读消息(36条)</span>
                                </div>
                                <div class="news-content">
                                    <ul class="list">
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热八月感觉最快捷的生物信息分析 工具点工具点工具点工具点工具点....</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                        <li>
                                            <div class="title">系统消息</div>
                                            <div class="content">全新应用新鲜上线。火热</div>
                                            <a href="#">点击查看</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="new-footer">
                                    <a href="#">查看全部>></a>
                                </div>
                            </div>
                        </Dropdown-Menu>
                    </Dropdown>
                </div>
                <div class="lf ml-20">
                    <Dropdown>
                        <a href="javascript:void(0)">
                            <img class="img-circle head" src="../images/head.png" style="width: 40px;height: 40px">
                            <span class=" name text-overflow">ExoxonsvyExoxonsvyExoxonsvy...</span>
                            <Icon type="arrow-down-b"></Icon>
                        </a>
                        <DropdownMenu slot="list">
                            <Dropdown-Item>个人信息</Dropdown-Item>
                            <Dropdown-Item>安全设置</Dropdown-Item>
                            <Dropdown-Item>第三方账号</Dropdown-Item>
                            <Dropdown-Item>退出</Dropdown-Item>
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>
        </div>
    </header>
    <div class="main recharge">
        <div class="container">
            <div class="well mt-20">
                <div class="ml-50">
                    <div class="lf">
                        <img src="../images/icons/i-9.png" height="35" width="35"/>
                    </div>
                    <div class="ml-50 ">
                        <p>您第一次进行账户充值，为增强账户的安全性，充值前请设置支付密码！</p>
                        <p class="col-999">请安排专人做好密码管理，账户的安全，需要我们一起慎重对待。</p>
                    </div>
                </div>
            </div>
            <div class="well-lg well">
                <div class="ml-50">
                    <div class="lf">
                        <img src="../images/icons/i-10.png" height="31" width="26"/>
                    </div>
                    <div class="ml-20 f-16 lf mt-10">设置支付密码</div>
                </div>
                <div class="clearfix"></div>
                  <i-Form  :model="form"   class="mt-40 ml-100 lf" :label-width="100" style="width: 340px">
                            <Form-Item label="手机号" prop="phone" >
                                <i-Input v-model="form.phone" placeholder="请输入手机号"></i-Input>
                                <!--   <div class="ivu-form-item-error-tip" v-if="is_sub">请输入正确的手机号</div>-->
                            </Form-Item>
                            <Form-Item label="短信验证码" prop="msg_code">
                                <i-Input style="width: 118px" v-model="form.msg_code" placeholder="输入验证码"></i-Input><button type="button" class="btn ml-20 btn-outline">获取验证码</button>
                                <!--  <div class="ivu-form-item-error-tip" v-if="is_sub">账号不能为空</div>-->
                            </Form-Item>
                            <Form-Item label="设置支付密码" prop="pwd">
                                <i-Input v-model="form.pwd" placeholder="设置您支付密码"></i-Input>
                                <!--<div class="ivu-form-item-error-tip">交易流水号不能为空</div>-->
                            </Form-Item>
                            <Form-Item label="确认支付密码" prop="pwd2">
                                <i-Input v-model="form.pwd2" placeholder="再次输入您的支付密码 "></i-Input>
                                <!--  <div class="ivu-form-item-error-tip">支付金额不能为空</div>-->
                            </Form-Item>
                            <Form-item label="">
                                <button type="button" class="btn btn-main" @click="hasSubmit('form_line')">确认</button>
                            </Form-item>
                        </i-Form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <a href="#" class="mr-60">吉凯基因分析平台</a>
            <a href="#" class="mr-200">使用说明</a>
            <span class="copyright f-12">©2017 GENECHEM All Rights Reserved.　沪ICP备15012724号    沪公网安备 310</span>
        </div>
    </footer>
</section>
</body>
<script>
    var vm=new  Vue({
        el:"#app",
        data:{
            form:{/*线下*/
                phone:"", /*付款银行*/
                msg_code:"",/*付款账号*/
                pwd:"",/*交易流水*/
                pwd2:""/*付款金额*/
            },
            ruleValidate: {
                paying_bank: [
                    { required: true, message: '请输入正确的银行账号', trigger: 'blur' }
                ],
                paying_account: [
                    { required: true, message: '账号不能为空', trigger: 'blur' },
                ],
                batch: [
                    { required: true, message: '交易流水号不能为空', trigger: 'blur' }
                ],
                payment_amount: [
                    { required: true, message: '支付金额不能为空', trigger: 'blur' }
                ]
            }
        },
        methods:{
            hasSubmit (name) { /*提交验证*/
                console.log(this[name])
                this[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('提交成功!');
                    } else {
                        this.$Message.error('表单验证失败!');
                    }
                })
            },
        }
    })
</script>
</html>